/*
Espresso Knights - Alif Abdullah [Eagle in the Sand], Daniel Sooknanan [Sussy]
SoftDev
K20 - Adding CSS to our classmates' projects
time spent: 2.5 hours
*/

.layout-container {
    padding: 100px 50px 0;
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 20px;
}

h1 {
    font-family: var(--outfit);
    text-transform: uppercase;
    font-size: 2rem;
}

.post-container {
    display: grid;
    grid-template-areas: "title datetime"
                         "buttons buttons";
    gap: 10px;
    grid-template-columns: auto 1fr;
    align-items: center;
}

.post-title {
    grid-area: title;
    font-family: var(--outfit);
    font-size: 1.5rem;

    color: var(--dark-brown);
}

.datetime-container {
    grid-area: datetime;
    font-style: italic;
    font-weight: 300;
    font-family: var(--outfit);
}

.button-container {
    grid-area: buttons;
    display: flex;
    gap: 10px;
}

.button {
    padding: 12px 30px;
    border: 2px solid var(--interact-orange);
    border-radius: 12px;

    font-family: var(--outfit);
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 600;
    letter-spacing: 1px;
    color: var(--interact-orange);

    cursor: pointer;
    transition: background-color .1s ease-out,
                color .1s ease-out;

}

.button:hover {
    color: var(--white);
    background-color: var(--interact-orange) !important;
}

/* EDIT POST STYLING */

.edit-post-container {
    display: flex;
    flex-direction: column;
}

.input-descriptor {
    font-family: var(--outfit);
    font-weight: 300;
}

.input-descriptor:last-of-type {
    margin-top: 10px;
}

.post-content {
    margin-bottom: 20px;
}
