body {
  background-color:var(--page-color);
}

.layout-container {
  padding: 80px 50px 0;
}

#txt_fld {
  background-color: lightsteelblue;
  border-radius: 5px;
  transition: 0.15s;
}

#txt_fld:focus {
  background-color: black;
  color: lightsteelblue;
}

#submit_btn {
  background-color: lightsteelblue;
  color: black;
  transition: 0.15s;
  padding: 8px;
  font-size:16px;
  border-radius: 5px;
  border-color: lightsteelblue;
  font-family: var(--font);
}

#submit_btn:hover {
  background-color: black;
  color: lightsteelblue;
}

select {
  background-color: lightsteelblue;
  color: black;
  font-family: var(--font);
  transition: 0.15s;
}

select:focus {
  color: lightsteelblue;
  background-color: black;
}

option:hover {
  background-color: white;
  color: crimson;
}

html {
  font-family: var(--font);
}
