:root {
    --white: #ececec;
    --light-gray: #e7e7e7;
    --light-brown: #FFE7C5;
    --med-brown: #9B674F;
    --dark-brown: #3b2d2a;
    --dark-gray: #1d1d1d;
    --interact-orange: #e86127;
    --error: #ff7272;
    --black: #000000;
    --page-color: papayawhip;
    --font: "Century Gothic";
    --outfit: 'Outfit', sans-serif;
    font-size: 16px;
}

html {
    height: 100%;
}

body {
    padding: 0;
} 

* {
    margin: 0;
    box-sizing: border-box;
}

.error {
    color: var(--error);
}

/* Navigation Bar Styling */

.nav-bar {
    position: fixed;
    width: 100%;
    display: flex;
    gap: 30px;
    padding: 20px 30px;
    background: rgb(42,8,8);
    background: linear-gradient(326deg, rgba(42,8,8,1) 6%, rgba(128,63,18,1) 55%, rgba(195,142,107,1) 100%); 
}

.nav-bar a:first-child {
    margin-right: auto;
}

.nav-bar a {
    text-decoration: none;
    font-family: var(--outfit);
    font-weight: 300;
    color: var(--white);
    transition: color .1s ease-out;
}

.nav-bar a:hover {
    color: var(--light-brown);
}