<!DOCTYPE html>

<html>
    <head>
        <title>Create Blog Post - Journal Square</title>
        <link href ="../static/css/style.css" rel ="stylesheet" type ="text/css">
        <link href ="../static/css/generalhalf.css" rel ="stylesheet" type ="text/css">
    </head>

    <body>
    <div id = "navbar">
      <a href="/">Home</a>
      <a href="/search">Search</a>
      <a href="/myBlog">My Blog</a>
      <a href="/createPosts">Create New Post</a>
      <a href="/logout">Logout</a>
    </div>
    <div id = "not_navbar">
      <h1>
        Create Blog Post
      </h1>
      {% if error %}
      <h2 style="color: red;">Error: {{error}}</h2>
      {% endif %}
      <form action="/createPosts" method="POST">
        Title:
        <br>
        <input id="txt_fld" type="text" name="title">
        <br>
        Post Contents:
        <br>
        <textarea id="txt_fld" name="contents"></textarea>
        <br>
        <input id = "submit_btn" type = "submit" name = "create" value = "Create Post">
    </form>
    </div>
    </body>
</html>
