<!DOCTYPE html>
<html>

  <head>
    <title>Journal Square</title>
    <link href ="../static/css/style.css" rel ="stylesheet" type="text/css">
    <link href="../static/css/login.css" rel="stylesheet" type="text/css">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600;700&display=swap" rel="stylesheet"> 
  </head>

  <body>
    <div class="layout-container">
      <div class="header">
        <h1>Journal <span class="highlight">Square</span></h1>
        <h2>A newfangled blog for the masses</h2>
      </div>
      <div class="login-container center-children">
        <!-- {% if error %}
          <span class="error">Error: {{error}}</span>
        {% endif %} -->
        <form action="/login" method="POST">
          <div class="center-children">
            <input class="credential-input" type="text" name="username" placeholder="Username">
            <input class="credential-input" type="password" name="password" placeholder="Password">
            <div class="button-container">
              <input id="submit" class="button" type="submit" name="sub1" value="Login">
              <a class="button" id="alt-submit" href="/signup">Register</a>
          </div>
          </div>
        </form>
      </div>
    </div>
  </body>

</html>
