<!--
Espresso Knights - Alif Abdullah [Eagle in the Sand], Daniel Sooknanan [Sussy]
SoftDev
K20 - Adding CSS to our classmates' projects
time spent: 2.5 hours
-->

<!DOCTYPE html>

<html>
    <head>
        <title>Search - Journal Square</title>
        <link href ="../static/css/style.css" rel ="stylesheet" type ="text/css">
        <link href ="../static/css/generalhalf.css" rel ="stylesheet" type ="text/css">
    </head>

    <body>
     <div id = "navbar">
      <a href="/">Home</a>
      <a href="/search">Search</a>
      <a href="/myBlog">My Blog</a>
      <a href="/createPosts">Create New Post</a>
      <a href="/logout">Logout</a>
    </div>
    <div id="not_navbar">
        <h1>
          Search
        </h1>
        {% if error %}
        <h2 style="color: red;">Error: {{error}}</h2>
        {% endif %}
        <h3>
            <form action="/search" method="POST">
                <label for="options">Search By:</label>
                <select name = "options" id = "options">
                  <option value ="author">Author</option>
                  <option value ="title">Title</option>
                  <option value ="content">Content</option>
                </select>
                <br>
                <input id = "txt_fld" type="text" name="query" value = "{{ query }}">
                <input id = "submit_btn" type = "submit" name = "search" value = "Search">
            </form>
        </h3>
        {% if blogs %}
        <h1>Blog Posts</h1>
        {% endif %}
        {% for blog in blogs %}
        <h2><a href ="/post/{{blog[0]}}">{{ blog[3] }}</a></h2>
        by {{ blog[1] }}
        <br>
        <br>
        {% endfor %}
        {% if users %}
        <h1>User Blogs</h1>
        {% endif %}
        {% for user in users %}
        <h2><a href ="/blog/{{user[1]}}">{{ user[2] }}</h2> @{{ user[1] }}</a>
        <br>
        <br>
        {% endfor %}
    </div>
    </body>
</html>
